body{
	background-color:grey;
	margin:0;
}
body h1{
	font-family: Arial, Helvetica, sans-serif;
}
.topbar{
	background-color:brown;
	width:100%;
	height:40px;
}
.fixedwidth{
	width:1050px;
	margin:0 auto;
	padding:2px;
	
	
}
#imagediv{
	padding-top:5px;
	padding-bottom:9px;
	padding-right:5px;
	border-right-style: solid ;
	float:left;
	border-color: #5F5F5F;
	border-width:1px;
	
}
#sports{
	margin:0
	float:left;
}
ul{
	margin:0;
	list-style-type:none;
}
li{
	padding:5px 20px 8px 15px;
	border-right: 2px solid;
	margin:0;
	float:left;
	font-size:20px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
}
#input{
	padding-left:10px;
}
#newsbar{
	background-color:red;
	height:135px;
}
#newsbar p{
	
	margin:0;
	padding-top:12px;
	padding-right:20px;
	
}
#newsheader{
	font-size:70px;
	
	
}
#usa{
	font-size:25px;
	margin-left:20px;
}
#rss{
	font-size:30px;
	padding-top:50px;
	padding-right:20px;
	float:right;
	
}
#underbar{
	
	
}
#underbar li{
	background-color:brown;
}
.newsitems{
	float:left;
	padding:50px;
}
.newsitem img {
	padding:50px;
}
.newsitems p {
	font-size:1.3em;
	padding-left:20px;
	color:white;
	float:right;
	width:200px;
	
}

